<div class="logo text-center">
  <h1>Time Tracker</h1>
</div>

<!--TODO-->
<% if current_user %>
  <ul class="custom-nav nav nav-tabs mb-lg-4">
    <li class="nav-item">
      <div class="nav-link <%= active?(root_path) %>">
        <%= link_to "Home", root_path %>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link <%= active?(posts_path) %>">
        <%= link_to "Time Entries", posts_path %>
      </div>
    </li>

    <%= render 'shared/audit_log_tab' if policy(AuditLog).index? %>

    <li class="nav-item">
      <div class="nav-link <%= active?(new_post_path) %>">
        <%= link_to "Request Overtime", new_post_path, id: 'new_post_from_nav' %>
      </div>
    </li>
    <li class="nav-item dropdown ml-md-auto">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Options</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <!--TODO-->
        <% if current_user.try(:type) == 'AdminUser' %>
          <%= link_to "Admin dash bord", admin_root_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
        <% end %>
        <!--TODO-->
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
<% end %>
<!--TODO-->