<% @posts.each do |post| %>
  <tr>
    <td>
      <%= post.id %>
    </td>
    <td>
      <%= post.overtime_request %>
    </td>
    <td>
      <%= post.date %>
    </td>
    <td>
      <%= post.user.full_name %>
    </td>
    <td>
      <%= link_to truncate(post.rationale), post %>
    </td>
    <td>
      <%= status_badge post.status %>
    </td>
    <td>
      <%= link_to icon('fas', 'edit', class: 'index-icons edit'), edit_post_path(post), id: "edit_#{post.id}" if policy(post).update? %>
    </td>
    <td>
      <%= link_to icon('fas', 'trash', class: 'index-icons trash'), post_path(post), method: :delete, id: "delete_post_#{post.id}", data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
<% end %>